$dblue: #233641;
$text: #b8b8b8;
$blue: #18cfab;
$title: #4e4e4e;

@mixin f700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@mixin f400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}