@import 'vars';
@import 'global';
@import 'fonts';

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
//start header
header {
    background-color: #44433e;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    height: 121px;
    align-items: center;
}
.menu_list {
    li {
        display: inline-block;
        &+li{
            margin-left: 15px;
        }
    }
    a {
        font-size: 13px;
        font-family: 'Myriad Pro';
        text-transform: uppercase;
        position: relative;
        color: $text; /*задаём цвет ссылки*/
        cursor: pointer;
        &:hover {
            color: $blue;
        }
    }
    a:after {
        position: absolute;
        left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0;/*задаём длинну линии до наведения курсора*/
        bottom: -50px;
        height: 2px; /*задаём ширину линии*/
        background-color: $blue; /*задаём цвет линии*/
        content: "";
        transition: width 0s ease-out; /*задаём время анимации*/
    }
    a:hover:after,
    a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }
}

//end header

//start content
.content {
    background-color: #3c3c3c;
    height: 895px;
    width: 100%;
}
.content__inner {
    text-align: center;
    padding: 240px 0px 244px;
}
.content__frame {
    max-width: 634px;
    margin: 0 auto;
}
.content__inner-text__top {
    font-size: 28px;
    color: #fff;
    @include f400;
    margin-bottom: 50px;
    text-transform: uppercase;
    span {
        color: $blue;
    }
}
.content__inner-title {
    text-transform: uppercase;
    font-size: 58px;
    color: #fff;
    @include f700;
    margin-bottom: 40px;
    line-height: 54px;
}
.content__inner-text__bottom {
    font-size: 27px;
    color: #ad9797;
    @include f400;
    margin-bottom: 150px;
}
.content__btn {
    text-transform: uppercase;
    padding: 16px 30px;
    background-color: $blue;
    color: #fff;
    @include f400;
    width: 166px;
    border-radius: 4px;
    border-top: 3px solid #fff;
    &+.content__btn {
        margin-left: 31px;
    }
}

//end content

//start different
.different__inner {
    display: flex;
    justify-content: space-between;
}
.different__item {
    max-width: 380px;
    width: 100%;
    &-images {
        min-height: 274px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
//end different

//start features
.features {
    background-color: #fff;
    padding: 100px 0px 95px;
}
.features__inner {
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
    flex-wrap: wrap;
}
.features__item {
    max-width: 315px;
    width: 100%;
    flex-basis: calc(33.3% - 30px);
    margin-left: 80px;
    margin-bottom: 95px;
    position: relative;
    &-title {
        font-size: 18px;
        @include f400;
        color: #717171;
        padding-left: 55px;
        position: relative;
        padding-bottom: 15px;
        &:hover {
            color: $blue;
        }
    }
    &-text {
        font-size: 14px;
        color: #777777;
        font-family: 'MyriadPro-Regular';
    }
    &-images {
        position: absolute;
        left: 0;
        top: 0;
    }
}

//end features

//start about
.about {
    background-color: #090f14;
    max-height: 682px;
    height: 100%;
    position: relative;
    padding: 105px 0 100px;
}
.about__images {
    background-image: url(../images/lest.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 399px;
    width: 599px;
    position: absolute;
    bottom: 0;
}
.about__inner {
    margin-left: auto;
    max-width: 555px;
    width: 100%;
    .about__title {
        font-size: 36px;
        @include f400;
        color: #fff;
        margin-bottom: 120px;  
        text-align: center;  
    }
    .about__text {
        font-size: 16px;
        color: #fff;
        @include f400;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 50px;
    }
}
.about__item-line {
    height: 35px;
    border-radius: 3px;
    background-color: #f4f4f4;
    margin-bottom: 23px;
    span {
        display: block;
        border-radius: 3px;
        height: 35px;
        color: #fff;
        font-size: 13px;
        @include f400;
        padding-left: 20px;
        padding-top: 5px;
        text-transform: uppercase;
    }
}



//end about

//start amazing
.amazing {
    background-color: #f8fcfe;
    padding: 100px 0px 100px;
}
.amazing__inner {
    text-align: center;
}
.amazing-btn {
    margin-bottom: 70px;
    button {
        padding: 20px 25px;
        background-color: #fff;
        border: 1px solid #ebebeb;
        position: relative;
        outline: none;
        &.mixitup-control-active {
            &:after {
                position: absolute;
                left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
                width: 0;/*задаём длинну линии до наведения курсора*/
                bottom: 52px;
                height: 2px; /*задаём ширину линии*/
                background-color: $blue; /*задаём цвет линии*/
                content: "";
                transition: width 0s ease-out; /*задаём время анимации*/
            }
            &:hover:after,
            &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
            }
        }
    }
}
.amazing__inner-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.more {
    padding: 20px;
    background-color: $blue;
    color: #fff;
    font-size: 14px;
    @include f700;
    border-radius: 3px;
    margin-top: 75px;
    text-align: center;
    padding-left: 50px;
    position: relative;
}
.more__icon {
    position: absolute;
    left: 615px;
    bottom: -3271px;
    cursor: pointer;
    z-index: 1;
}
.amazing__item {
    flex-basis: calc(25%-30px);
    max-width: 286px;
    width: 100%;
    &-img {
        min-height: 208px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
//end amazing
